<%- include('../partials/header') %>
<script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('select');
                var options = {};
                var instances = M.FormSelect.init(elems, options);
        });
</script>

<ul class="reading">
        <h1 class="shelf-title">Reading</h1>
        <div class="books">
                <% for (let i=0; i<4; i++) { %>
                        <% if (!reading[i]) { } else { %>
                                <li class="main" id="book<%= i %>">
                                        <p id="title"><%= reading[i].bookName %></p>
                                        <form action="/shelves/<%= reading[i]._id %>?_method=DELETE" method="POST">
                                                <button class="delete" type="submit">🗑</button>
                                        </form> 
                                        <a class="edit" href="/shelves/<%= reading[i]._id%>/edit">✏</a>
                                </li>
                        <% }; %>
                <% }; %>
                <li class="see-more">
                        <a class="see-more" href="/shelves/reading/view">See More</a>
                </li>
        </div>
</ul>

<ul class="toRead">
        <h1 class="shelf-title">To Read</h1>
        <div class="books">
                <% for (let i=0; i<4; i++) { %>
                        <% if (!toRead[i]) { } else { %>
                                <li class="main" id="book<%= i %>">
                                        <p id="title"><%= toRead[i].bookName %></p>
                                        <form action="/shelves/<%= toRead[i]._id %>?_method=DELETE" method="POST">
                                                <button class="delete" type="submit">🗑</button>
                                        </form> 
                                        <a class="edit" href="/shelves/<%= toRead[i]._id%>/edit">✏</a>
                                </li>
                        <% }; %>
                <% }; %>
                <li class="see-more">
                        <a class="see-more" href="/shelves/toRead/view">See More</a>
                </li>
        </div>
</ul>

<ul class="read">
        <h1 class="shelf-title">Read</h1>
        <div class="books">
                <% for (let i=0; i<4; i++) { %>
                        <% if (!read[i]) { } else { %>
                                <li class="main" id="book<%= i %>">
                                        <p id="title"><%= read[i].bookName %></p>
                                        <form action="/shelves/<%= read[i]._id %>?_method=DELETE" method="POST">
                                                <button class="delete" type="submit">🗑</button>
                                        </form> 
                                        <a class="edit" href="/shelves/<%= read[i]._id%>/edit">✏</a>
                                </li>
                        <% }; %>
                <% }; %>
                <li class="see-more">
                        <a class="see-more" href="/shelves/read/view">See More</a>
                </li>
        </div>
</ul>

<form class="col s12" id="add-form" action="/shelves" method="POST">
        <div class="add-form">
                <div class="input-field col s12">
                        <input type="text" name="bookName">
                        <label for="bookName">Book Title</label>
                </div>
                <div class="input-field col s12">
                        <select name="status">
                                <option disabled selected>Choose Status</option>
                                <option value="reading">Reading</option>
                                <option value="toRead">Want to Read</option>
                                <option value="read">Already Read</option>
                        </select>
                </div>
                <input class="add-submit" type="submit" value="Add Book">
        </div>
</form>

<%- include('../partials/footer') %>
