<%- include('../partials/header') %>

<h1 class="status-title"><%= title %></h1>

<ul class="status-view">
<% books.forEach(function(s) { %>
    <li class="status">
        <p class="view-title"><%= s.bookName %></p>
        <form action="/shelves/<%= status %>/<%= s._id %>?_method=DELETE" method="POST">
            <button class="view-delete" type="submit">🗑</button>
        </form>
    </li>
    
<% }); %>
</ul>

<form class="col s12" id="add-form" action="/shelves/<%= status %>/view" method="POST">
    <div class="add-form">
            <div class="input-field col s12">
                    <input type="text" name="bookName">
                    <label for="bookName">Book Title</label>
            </div>
            <input class="add-submit" type="submit" value="Add Book">
    </div>
</form>

<%- include('../partials/footer') %>