<%- include('../partials/header') %>

<ul>
<% books.forEach(function(s) { %>
    <li><%= s.bookName %></li>
    <form action="/shelves/<%= status %>/<%= s._id %>?_method=DELETE" method="POST">
        <button type="submit">🗑</button>
    </form>
<% }); %>
</ul>

<form action="/shelves/<%= status %>/view" method="POST">
    <label>Book Title
        <input type="text" name="bookName">
    </label>
    <input type="submit">
</form>

<%- include('../partials/footer') %>